@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.dropdownWrapper {
    position: relative;
    display: inline-block;

    .trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.dropdownMenu {
    position: absolute;
    top: 40px;
    right: -20px;
    width: 420px;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transform-origin: top right;


}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .headerLeft {
        display: flex;
        align-items: center;
        gap: 12px;

        h3 {
            color: var(--Text-Primary, #141414);
            font-size: 16px;
            font-weight: 600;
            font-family: var(--font-manrope);
            line-height: normal;
        }

        .unreadBadge {
            color: #EC4343;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 12px;
            border-radius: 40px;
            border: 1px solid #EC4343;
            padding: 4px 8px;
            font-family: var(--font-manrope);
        }
    }

    .markReadBtn {
        padding: 4px 8px;
        border-radius: 99px;
        background: rgba(0, 0, 0, 0.08);
        border: none;
        cursor: pointer;
        font-family: var(--font-manrope);
        color: var(--Text-Primary, #141414);
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;

        &:hover {
            background: #E5E5E5;
        }
    }
}

.list {
    max-height: 400px;
    overflow-y: auto;

    // Custom scrollbar
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.item {
    display: flex;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 16px;
    transition: background 0.2s;
    background: #FFF;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background: #FAFAFA;
    }

    &.read {
        background: #F7F7F7;

        .content {
            p {
                color: #A3A3A3;
            }

            .time {
                color: #A3A3A3;
            }
        }

        .iconWrapper {
            background: #F0F0F0;

            svg {
                path {
                    stroke: #A3A3A3;
                }
            }
        }
    }

    .iconWrapper {
        width: 38px;
        height: 38px;
        min-width: 38px;
        border-radius: 50%;
        border-radius: 40px;
        background: rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .content {
        flex: 1;

        p {
            color: var(--Text-Primary, #141414);
            font-family: var(--font-manrope);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .time {
            color: var(--Text-Secondary, #555);
            font-family: var(--font-manrope);
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
        }
    }

    .indicator {
        width: 12px;
        height: 12px;
        min-width: 12px;
        border-radius: 50%;
        background: var(--Yellow, #FBD242);
        margin-top: 6px;
    }
}