@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.changePassword {
    border-radius: 8px;
    background: #FFF;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 16px;

    .buttonGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 8px 0 0 0;

        @include respond-to("sm") {
            grid-template-columns: 1fr;
        }
    }
}