@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.auth {
    background-image: url('/assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100dvh;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    align-items: center;


    .contentBox {
        max-width: 464px;
        padding: 32px;
        width: 100%;
        background: rgba(255, 255, 255, 0.40);

        .information {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;


            .col {
                display: grid;
                grid-template-columns: 1fr;
                gap: 12px;
                padding: 0 0 50px 0;
            }

            .errorText {
                color: #e11d48;
                font-size: 12px;
                font-weight: 500;
                margin-top: -4px;
                margin-bottom: 4px;
                display: block;
                text-align: left;
            }
        }
    }
}