@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.withdrawRequestsCard {
    padding: 0 0 12px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .items {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: #FFF;
        padding: 20px;

        .icon {
            width: 50px;
            height: 50px;
            border-radius: 6px;
            border: 1px solid var(--Blue, #1C61BA);
            background: rgba(28, 97, 186, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            margin: 20px 0 8px 0;
            color: var(--Text-Primary, #141414);
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
        }

        p {
            color: var(--Text-Primary, #141414);
            font-size: 32px;
            font-weight: 700;
            line-height: 100%;
        }
    }
}